@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    color: #212529;
}

.masthead--margin{background:#fff;}
.masthead--margin .btn:disabled:after, .masthead--margin .btn:disabled:hover:after {
  border-bottom: 48px solid #e9ecf0 !important;
}
.masthead--margin .btn:disabled:before, .masthead--margin .btn:disabled:hover:before {
  border-top: 48px solid #e9ecf0 !important;
}

.masthead--margin h2 {
  font: italic 80px/1 "Montserrat";
  margin: 0 0 10px;
}
.masthead--margin body {
  min-width: 375px;
  font-family: "Montserrat";
  background: #f2f4f6;
}
.masthead--margin .wrapper {
  margin: 0 auto;
  z-index: 5;
  padding: 0 40px;
  max-width: 1440px;
}
.masthead--margin .wrapper:after {
  content: "";
  display: table;
  clear: both;
}
.masthead--margin .btn {
  padding: 0;
  margin: 0;
  transition: 0.2s linear;
  cursor: pointer;
  font-family: "Montserrat";
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  background: 0 0;
  border: none;
}
.masthead--margin .btn svg {
  display: inline-block;
  vertical-align: middle;
  margin: -4px 5px -2px;
}
.masthead--margin .btn:disabled {
  color: #909aaa !important;
  cursor: default !important;
  background: #e9ecf0 !important;
}
.masthead--margin .btn:disabled:hover {
  background: #e9ecf0 !important;
  color: #909aaa !important;
}
.masthead--margin .btn-color {
  background: #00a7f0;
  height: 48px;
  padding: 12px 25px;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  line-height: 24px;
  color: #fff;
  margin: 0 0 0 9px;
}
.masthead--margin .btn-color:after, .masthead--margin .btn-color:before {
  position: absolute;
  bottom: 0;
  transition: 0.2s linear;
  content: "";
  font-size: 0;
  border: none;
}
.masthead--margin .btn-color:after {
  right: 100%;
  border-bottom: 48px solid #00a7f0;
  border-left: 10px solid transparent;
}
.masthead--margin .btn-color:before {
  border-top: 48px solid #00a7f0;
  left: 100%;
  top: 0;
  border-right: 10px solid transparent;
}
.masthead--margin .btn-color:hover {
  background: #0091d1;
}
.masthead--margin .btn-color:hover:after {
  border-bottom: 48px solid #0091d1;
}
.masthead--margin .btn-color:hover:before {
  border-top: 48px solid #0091d1;
}
.masthead--margin a {
  color: #00a9e0;
  text-decoration: none;
}
.masthead--margin img {
  max-width: 100%;
}
.masthead--margin .swiper {
  display: block;
}
.masthead--margin .swiper {
  overflow: hidden;
}
.masthead--margin .swiper-slide, .masthead--margin .swiper-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.masthead--margin :root {
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px ;
}
.masthead--margin :host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.masthead--margin .swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0;
  z-index: 1;
}
.masthead--margin .swiper-wrapper {
  z-index: 1;
  display: flex;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}
.masthead--margin .swiper-wrapper {
  transform: translate3d(0, 0, 0);
}
.masthead--margin .swiper-horizontal {
  touch-action: pan-y;
}
.masthead--margin .swiper-slide {
  flex-shrink: 0;
  display: block;
}
.masthead--margin .swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}
.masthead--margin .swiper-button-next, .masthead--margin .swiper-button-prev {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.masthead--margin .swiper-button-next svg, .masthead--margin .swiper-button-prev svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform-origin: center;
}
.masthead--margin .swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
}
.masthead--margin .swiper-button-next:after, .masthead--margin .swiper-button-prev:after {
  font: initial var(--swiper-navigation-size)/1 swiper-icons;
  text-transform: none !important;
  letter-spacing: 0;
}
.masthead--margin .swiper-button-prev:after {
  content: "prev";
}
.masthead--margin .swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}
.masthead--margin .swiper-button-next:after {
  content: "next";
}
.masthead--margin .swiper-pagination {
  position: absolute;
  text-align: center;
  transition: opacity 0.3s;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.masthead--margin .swiper-horizontal > .swiper-pagination-bullets, .masthead--margin .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}
.masthead--margin .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
.masthead--margin .swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.masthead--margin .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}
.masthead--margin .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .masthead--margin .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}
.masthead--margin .swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
.masthead--margin .masthead h2 {
  text-transform: uppercase;
  font-weight:700;
}
.masthead--margin .masthead .counter span, .masthead--margin .masthead .in, .masthead--margin .masthead .spec-block-wrapper .spec-block > a > div > span {
  color: #fff;
}
.masthead--margin .masthead-nav {
  width: 48px;
  transition: 0.2s linear;
  right: 50px;
}
.masthead--margin .masthead {
  overflow: hidden;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 65.78%);
}
.masthead--margin .masthead .bg {
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
    filter:brightness(70%);
  position: absolute;
}
.masthead--margin .masthead .swiper-pagination {
  position: absolute;
  right: 200px;
  left: auto;
  top: auto;
  width: 325px;
  height: 4px;
  bottom: 70px;
  background: #00a7f0;
}
.masthead--margin .masthead .in {
  max-width: 925px;
  min-height: 630px;
  display: flex;
  position: relative;
  align-items: flex-start;
  z-index: 5;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 48px;
}
.masthead--margin .masthead .spec-block-wrapper {
  justify-content: center;
}
.masthead--margin .masthead .spec-block-wrapper .spec-block {
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
  gap: 20px;
  background-size: contain;
  margin-left: -40px;
  padding: 30px 60px 30px 30px;
  font-family: "Montserrat";
  font-style: italic;
}
.masthead--margin .masthead .spec-block-wrapper .spec-block > a {
  color: #fff;
  font-size: 32px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
.masthead--margin .masthead .spec-block-wrapper .spec-block > a > div .spec-block__text-small {
  font-size: 14px;
}
.masthead--margin .masthead .swiper-slide {
  overflow: hidden;
}
.masthead--margin .masthead .video-slide {
  left: 100px;
  top: 100px;
  transform: scale(1.3);
}
@media screen and (max-width: 1024px) {
  .masthead--margin .masthead .video-slide {
    top: 0;
  }
}
@media screen and (max-width: 728px) {
  .masthead--margin .masthead .video-slide {
    left: 0;
    transform: scale(1);
  }
}
.masthead--margin .masthead .shadow-wrapper {
  box-shadow: inset 600px 0 100px rgba(13, 71, 161, 0.5);
}
@media screen and (max-width: 640px) {
  .masthead--margin .masthead .spec-block-wrapper {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .masthead--margin .masthead .spec-block-wrapper .spec-block {
    background: 0 0;
    gap: 10px;
    margin-left: 0;
    padding: 0;
  }
  .masthead--margin .masthead .spec-block-wrapper .spec-block > a {
    font-size: 14px;
    gap: 10px;
  }
  .masthead--margin .masthead .spec-block-wrapper .spec-block > a img {
    max-width: 26px;
  }
  .masthead--margin .masthead .spec-block-wrapper .spec-block > a > div .spec-block__text-small {
    font-size: 10px;
  }
  .masthead--margin .masthead .shadow-wrapper {
    left: 0;
    box-shadow: inset 0 -200px 50px rgba(13, 71, 161, 0.5);
  }
}
.masthead--margin .masthead .btn {
  margin: 34px 0 0 9px;
}
.masthead--margin .masthead .counter {
  font: 14px/13px "Montserrat";
  position: absolute;
  color: #fff;
  bottom: 65px;
  z-index: 10;
  right: 550px;
}
.masthead--margin .masthead-nav {
  background: #292f3a;
  margin-left: 10px;
  height: 48px;
  position: absolute;
  left: auto !important;
  bottom: 48px;
  top: auto !important;
}
.masthead--margin .masthead-nav:after, .masthead--margin .masthead-nav:before {
  position: absolute;
  bottom: 0;
  transition: 0.2s linear;
  content: "";
  font-size: 0;
  border: none;
}
.masthead--margin .masthead-nav:after {
  right: 100%;
  border-bottom: 48px solid #292f3a;
  border-left: 10px solid transparent;
}
.masthead--margin .masthead-nav:before {
  border-top: 48px solid #292f3a;
  left: 100%;
  top: 0;
  border-right: 10px solid transparent;
}
.masthead--margin .masthead-nav:hover {
  background: #424854;
}
.masthead--margin .masthead-nav:hover:after {
  border-bottom: 48px solid #424854;
}
.masthead--margin .masthead-nav:hover:before {
  border-top: 48px solid #424854;
}
.masthead--margin .masthead-nav svg {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  width: 8px;
  height: auto;
}
.masthead--margin .masthead-nav.swiper-button-prev {
  margin-right: 69px;
  left: auto;
}
.masthead--margin .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 0 6px;
  opacity: 1 !important;
  border-radius: 0;
  background: #dde2e8;
}
.masthead--margin .swiper-pagination-bullet-active {
  background: #00a7f0;
}
.masthead--margin .bg {
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.masthead--margin .swiper-notification {
  display: none !important;
}
.masthead--margin .bg {
  position: absolute;
}
.masthead--margin .footer_right .social a:not(:hover) path {
  fill: #b3b9c5;
}

.masthead--margin .in {
  min-height: 677px;
  padding: 0 0 40px;
}
.masthead--margin .btn {
  font-size: 12px;
  padding: 8px 17px;
  height: 40px;
  margin: 7px 0 0 9px;
}
.masthead--margin .btn:after {
  border-bottom-width: 40px;
}
.masthead--margin .btn:before {
  border-top-width: 40px;
}
.masthead--margin .btn svg {
  width: 20px;
  height: auto;
  margin: -3px 3px;
}
.masthead--margin .counter {
  font-size: 12px;
  bottom: 52px;
  right: 469px;
}
.masthead--margin .masthead-nav {
  right: 50px;
  bottom: 37px;
  width: 37px;
  height: 42px;
}
.masthead--margin .masthead-nav:after {
  border-bottom-width: 42px;
}
.masthead--margin .masthead-nav:before {
  border-top-width: 42px;
}
.masthead--margin .masthead-nav.swiper-button-prev {
  margin-right: 56px;
}
.masthead--margin .swiper-pagination {
  right: 170px;
  width: 280px;
  height: 3px;
  bottom: 58px;
}
.masthead--margin h2 {
  font-style: italic;
  max-width: 600px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .masthead--margin body {
    font-size: 16px;
  }
  .masthead--margin .wrapper {
    padding: 0 20px;
  }
  .masthead--margin h2 {
    font-size: 60px;
  }
  .masthead--margin {
    margin: 0 0 50px;
  }
}
@media screen and (max-width: 1024px) {
  .masthead--margin .masthead .counter {
    display: none;
  }
  .masthead--margin h2 {
    font-size: 55px;
  }
  .masthead--margin .wrapper {
    padding: 0 24px;
  }
  .masthead--margin .masthead .in {
    min-height: 600px;
    padding: 0 40px 68px 0;
  }
  .masthead--margin .masthead .swiper-pagination {
    right: 24px;
    background: 0 0;
    left: 24px;
    bottom: 25px;
    gap: 5px;
    width: auto;
    display: flex;
  }
  .masthead--margin .masthead .swiper-pagination .swiper-pagination-bullet {
    border-radius: 0;
    opacity: 1 !important;
    height: 4px;
    flex: auto 1 1;
    background: #292f3a;
    vertical-align: top;
  }
  .masthead--margin .masthead .swiper-pagination .swiper-pagination-bullet-active {
    background: #00a7f0;
  }
  .masthead--margin .masthead-nav {
    display: none !important;
  }
  .masthead--margin .footer_right .social a:not(:hover) path {
    fill: #fff;
  }
  .masthead--margin .btn:after {
    border-bottom-width: 33px;
  }
  .masthead--margin .btn:before {
    border-top-width: 33px;
  }
  .masthead--margin .in {
    min-height: 450px;
    padding: 0 0 53px;
  }
  .masthead--margin .btn {
    font-size: 12px;
    padding: 5px 12px;
    height: 33px;
    margin: -3px 0 0 5px;
  }
  .masthead--margin .btn svg {
    margin: -5px 3px -3px;
  }
  .masthead--margin .swiper-pagination {
    right: 16px;
    left: 16px;
    bottom: 31px;
  }
  .masthead--margin h2 {
    font-size: 36px;
    line-height: 1.1;
    max-width: 480px;
  }
  .masthead--margin {
    margin: 0 0 60px;
  }
}
@media screen and (max-width: 767px) {
  .masthead--margin h2 {
    font-size: 36px;
    line-height: 1;
  }
  .masthead--margin .wrapper {
    padding: 0 16px;
  }
  .masthead--margin .masthead .in {
    min-height: 500px;
    padding: 0 0 68px;
  }
  .masthead--margin .masthead .swiper-pagination {
    right: 12px;
    left: 12px;
    bottom: 24px;
  }
  .masthead--margin .masthead .btn {
    margin: 15px 0 0 9px;
  }
  .masthead--margin body {
    padding-top: 57px;
  }
  .masthead--margin {
    margin: 0 0 100px;
  }
  .masthead--margin .in {
    min-height: 527px;
    padding: 0 0 52px;
  }
  .masthead--margin .btn {
    padding: 9px 15px;
    margin: 1px 0 0 9px;
    height: 40px;
  }
  .masthead--margin .btn:after {
    border-bottom-width: 40px;
  }
  .masthead--margin .btn:before {
    border-top-width: 40px;
  }
  .masthead--margin .swiper-pagination {
    bottom: 29px;
  }
  .masthead--margin .swiper-pagination .swiper-pagination-bullet {
    height: 2px;
  }
  .masthead--margin h2 {
    font-size: 32px;
    line-height: 1.1;
  }}

